
{% extends 'back/master.html' %}

{% load static %}

{% block mainblock %}
<!-- Datatables Header -->
<div class="content-header">
    <div class="header-section">
        <h1>
            <i class="fa fa-table"></i>Black List<br><small>You can add, edit and delete your data!</small>
        </h1>
    </div>
</div>
<ul class="breadcrumb breadcrumb-top">
    <li>Black</li>
    <li><a href="/blacklist/">List</a></li>
</ul>
<!-- END Datatables Header -->

<!-- IP Add Start -->
<div class="row">
    <div class="col-md-12">
        <!-- Basic Form Elements Block -->
        <div class="block">
            <!-- Basic Form Elements Title -->
            <div class="block-title">
                
                <h2><strong>Add</strong> IP</h2>
            </div>
            <!-- END Form Elements Title -->

            <!-- Basic Form Elements Content -->
            <form action="{% url 'cat_add' %}" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered">
                {% csrf_token %}
                <div class="form-group">
                    <div class="col-md-6">
                        <input type="text" id="name" name="name" class="form-control" placeholder="Ip" required>
                    </div>


                    <div class="col-md-6">
                        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Submit</button>   </div>
                    </div>


                </div>
           


            </form>
            <!-- END Basic Form Elements Content -->
        </div>
        <!-- END Basic Form Elements Block -->
    </div>
<!-- IP Add End -->

<!-- Datatables Content -->
<div class="block full">
    <div class="block-title">
        <h2><strong>Black</strong> List</h2>
    </div>
    
    <div class="table-responsive">
        <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
            <thead>
                <tr>
                    <th class="text-center">ID</th>
                    <th>IP</th>
                   
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>


                {% for cc in subcat %}
                <tr>
                    <td class="text-center">{{ cc.pk }}</td>
                    <td>{{ cc.ip }}</td>
                    
                    <td class="text-center">
                        <div class="btn-group">
                            <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default"><i class="fa fa-pencil"> Edit</i></a>
                            <a href="{% url 'news_delete' pk=cc.pk %}" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times"> Delete</i></a>
                        </div>
                    </td>
                </tr>
                {% endfor %}

           
            </tbody>
        </table>
    </div>
</div>
<!-- END Datatables Content -->
{% endblock %}


{% block footerblock %}
<!-- Load and execute javascript code used only in this page -->
<script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
<script>$(function(){ TablesDatatables.init(); });</script>
        {% endblock %}