
{% extends 'back/master.html' %}

{% load static %}

{% block mainblock %}
<!-- Datatables Header -->
<div class="content-header">
    <div class="header-section">
        <h1>
            <i class="fa fa-table"></i>News List<br><small>You can add, edit and delete your data!</small>
        </h1>
    </div>
</div>
<ul class="breadcrumb breadcrumb-top">
    <li>News</li>
    <li><a href="/panel/news/list">List</a></li>
</ul>
<!-- END Datatables Header -->



<!-- Datatables Content -->
<div class="block full">
    <div class="block-title">
        <h2><strong>News</strong> List</h2>
    </div>
    
    <div class="table-responsive">
        <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
            <thead>
                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">Image</th>
                    <th>Title</th>
                    <th>Date & Time</th>
                    <th>Category</th>
                    <th>Writer</th>
                    <th>Status</th>
                    <th>Views</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>


                {% for cc in news %}
                <tr>
                    <td class="text-center">{{ cc.rand }}</td>
                    <td class="text-center"><img style="display: inline-block; width: 50px; height: 50px;" src="{{ cc.picurl }}" alt="avatar" class="img-circle"></td>
                    <td>{{ cc.name }}</td>
                    <td>{{ cc.date }} | {{ cc.time }}</td>
                    <td>{{ cc.catname }}</td>
                    <td>{{ cc.writer }}</td>
                    {% if cc.act == 0 %}
                    <td>Pending</td>
                    {% elif cc.act == 1 %}
                    <td>Confirmed</td>
                    {% endif %}
                    <td>{{ cc.show }}</td>
                    <td class="text-center">
                        <div class="btn-group">
                            <a href="{% url 'news_edit' pk=cc.pk %}" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default"><i class="fa fa-pencil"> Edit</i></a>
                            <a href="{% url 'news_delete' pk=cc.pk %}" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times"> Delete</i></a>
                            {% if perms.main.masteruser %}
                            <a href="{% url 'news_publish' pk=cc.pk %}" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default"><i class="fa fa-pencil"> Publish</i></a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
                {% endfor %}

           
            </tbody>
        </table>
    </div>
</div>
<!-- END Datatables Content -->
{% endblock %}


{% block footerblock %}
<!-- Load and execute javascript code used only in this page -->
<script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
<script>$(function(){ TablesDatatables.init(); });</script>
        {% endblock %}