{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    {% block headblock %}
    {% endblock %}

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'front/images/icons/favicon.png' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'front/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'front/fonts/fontawesome-5.0.8/css/fontawesome-all.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'front/fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'front/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'front/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'front/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'front/css/util.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'front/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body class="animsition">
	
<!-- Header Section Start -->
	<header>
	<!-- Header desktop -->
		<div class="container-menu-desktop">

		<!-- Top Bar Start -->
			<div class="topbar">
				<div class="content-topbar h-100 p-rl-30">
					<div class="align-self-stretch size-w-0 pos-relative m-r-30">
						<div class="f2-s-1 flex-wr-s-c s-full ab-t-l p-b-2">
							<span class="text-uppercase cl0 p-r-8">
								Trending Now:
							</span>

							<span class="dis-inline-block cl16 slide100-txt pos-relative size-w-0" data-in="fadeInDown" data-out="fadeOutDown">
								<span class="dis-inline-block slide100-txt-item animated visible-false">
									Interest rate angst trips up US equity bull market
								</span>

								<span class="dis-inline-block slide100-txt-item animated visible-false">
									Designer fashion show kicks off Variety Week
								</span>

								<span class="dis-inline-block slide100-txt-item animated visible-false">
									Microsoft quisque at ipsum vel orci eleifend ultrices
								</span>
							</span>
						</div>
					</div>
						

					<div class="flex-wr-e-c">
						<div class="left-topbar">
							

							<a href="/about" class="left-topbar-item">
								About
							</a>

							<a href="/contact" class="left-topbar-item">
								Contact
							</a>

							<a href="#" class="left-topbar-item">
								Sing up
							</a>

							<a href="#" class="left-topbar-item">
								Log in
							</a>

							<a href="#" class="left-topbar-item"></a>
						</div>

						<div class="right-topbar p-l-18">
							<a href="{{ site.fb }}">
								<span class="fab fa-facebook-f"></span>
							</a>

							<a href="{{ site.tw }}">
								<span class="fab fa-twitter"></span>
							</a>

							<a href="{{ site.yt }}">
								<span class="fab fa-youtube"></span>
							</a>
						</div>
					</div>	
				</div>
			</div>
		<!-- Top Bar End -->
		
			
		<!-- Start (Top Logo) -->
			<div class="wrap-logo no-banner container">
			<!-- Logo desktop(Logo in Top Section) Start -->		
				<div class="logo">
					<a href="/"><img src="{{ site.picurl }}" alt="LOGO"></a> <!-- Logo in Top Section -->	
				</div>
			<!-- Logo desktop(Logo in Top Section) End -->
			</div>
		<!-- End (Top Logo) -->	
			
			
		<!-- Start -->
			<div class="wrap-main-nav">
				<div class="main-nav">
				<!-- Menu desktop (Menu nav bar) Start -->
					<nav class="menu-desktop">
						<a class="logo-stick" href="/">
							<img src="{{ site.picurl }}" alt="LOGO">
						</a>

						<ul class="main-menu justify-content-center">
							<li class="main-menu-active">
								<a href="/">Home</a>
							</li>

							<!-- cat from views.py(main app) -->
							{% for gg in cat %}
							{% if gg.count != 0 %} <!--if the category has no news then the category will not be shown-->
							<li class="mega-menu-item">
								<a href="category-01.html">{{ gg.name }}</a>
								
								<div class="sub-mega-menu">
								<!-- Sub Menu Bar (When i click or put cursor on Category Besides Home) Start -->
									<div class="nav flex-column nav-pills" role="tablist">
										<a class="nav-link active" data-toggle="pill" href="#news-0" role="tab">All</a>

										{% for subcat in subcat %}
										{% if subcat.catid == gg.pk %}
										<a class="nav-link" data-toggle="pill" href="#{{ subcat.pk }}" role="tab">{{ subcat.name }}</a>
										{% endif %}
										{% endfor %}
										
									</div>
								<!-- Sub Menu Bar (When i click or put cursor on Category Besides Home) End -->

							<!-- Category and sub-category news shows in menu bar (When i click or put cursor on Category Besides Home) Start -->
									<div class="tab-content">
										<div class="tab-pane show active" id="news-0" role="tabpanel">
											<div class="row">

												<!-- here news is a query name from main app's views -->
												{% for hh in news %}
												{% if hh.ocatid == gg.pk %}  <!-- pk means id of the category -->
												<div class="col-3">
													<!-- Item post -->	
													<div>
														<a href="{% url 'news_detail' word=hh.name %}" class="wrap-pic-w hov1 trans-03">
															<img style="display: inline-block; width: 220x; height: 110px;" src="{{ hh.picurl }}" alt="IMG">
														</a>

														<div class="p-t-10">
															<h5 class="p-b-5">
																<a href="#" class="f1-s-5 cl3 hov-cl10 trans-03">
																	{{ hh.name }}
																</a>
															</h5>

															<span class="cl8">
																<a href="{% url 'news_detail' word=hh.name %}" class="f1-s-6 cl8 hov-cl10 trans-03">
																	{{ hh.catname }}
																</a>

																<span class="f1-s-3 m-rl-3">
																	-
																</span>

																<span class="f1-s-3">
																	{{ hh.date }}
																</span>
															</span>
														</div>
													</div>
												</div>
												{% endif%}
												{% endfor %}

											</div>
										</div>

										{% for subcat2 in subcat %}
										<div class="tab-pane" id="{{ subcat2.pk }}" role="tabpanel">
											<div class="row">


										<!-- here news is a query name from main app's views -->
										{% for hh in news %}
										{% if hh.catid == subcat2.pk %}  <!-- pk means id of the category -->
										<div class="col-3">
											<!-- Item post -->	
											<div>
												<a href="{% url 'news_detail' word=hh.name %}" class="wrap-pic-w hov1 trans-03">
													<img style="display: inline-block; width: 220x; height: 110px;" src="{{ hh.picurl }}" alt="IMG">
												</a>

												<div class="p-t-10">
													<h5 class="p-b-5">
														<a href="#" class="f1-s-5 cl3 hov-cl10 trans-03">
															{{ hh.name }}
														</a>
													</h5>

													<span class="cl8">
														<a href="{% url 'news_detail' word=hh.name %}" class="f1-s-6 cl8 hov-cl10 trans-03">
															{{ hh.catname }}
														</a>

														<span class="f1-s-3 m-rl-3">
															-
														</span>

														<span class="f1-s-3">
															{{ hh.date }}
														</span>
													</span>
												</div>
											</div>
										</div>
										{% endif%}
										{% endfor %}
												

											</div>
										</div>
										{% endfor %}

									</div>
							<!-- Category and sub-category news shows in menu bar (When i click or put cursor on Category Besides Home) End -->
								</div>
							</li>
							{% endif %}
							{% endfor %}

						</ul>
					</nav>
				<!-- Menu desktop (Menu nav bar) End -->	
				</div>
			</div>	
		<!-- End -->	
		</div>
	</header>
<!-- Header Section End -->        
    

	{% block mainblock %}
	
    {% endblock %}



<!-- Footer Section Start -->
	<footer>
		<div class="bg2 p-t-40 p-b-25">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 p-b-20">
						<div class="size-h-3 flex-s-c">
							<a href="/">
								<img class="max-s-full" src="{{ site.picurl2 }}" alt="LOGO">
							</a>
						</div>

						<div>
							<p class="f1-s-1 cl11 p-b-16">
								{{site.about}}
							</p>

							<p class="f1-s-1 cl11 p-b-16">
								Tell : {{ site.tell }}
							</p>

							<div class="p-t-15">
								<a href="{{ site.fb }}" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
									<span class="fab fa-facebook-f"></span>
								</a>

								<a href="{{ site.tw }}" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
									<span class="fab fa-twitter"></span>
								</a>

								<a href="{{ site.yt }}" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
									<span class="fab fa-youtube"></span>
								</a>
							</div>
						</div>
					</div>

			<!-- Popular Post in Footer Section Start  -->
					<div class="col-sm-6 col-lg-4 p-b-20">
						<div class="size-h-3 flex-s-c">
							<h5 class="f1-m-7 cl0">
								Popular Posts
							</h5>
						</div>

				<!-- Dynamic Popular Post in Footer Section Start -->
						<ul>
							{% for pop in popnews2 %}
							<li class="flex-wr-sb-s p-b-20">
								<a href="{% url 'news_detail' word=pop.name %}" class="size-w-4 wrap-pic-w hov1 trans-03">
									<img src="{{ pop.picurl }}" alt="IMG">
								</a>

								<div class="size-w-5">
									<h6 class="p-b-5">
										<a href="{% url 'news_detail' word=pop.name %}" class="f1-s-5 cl11 hov-cl10 trans-03">
											{{ pop.name }}
										</a>
									</h6>

									<span class="f1-s-3 cl6">
										{{ pop.date }}
									</span>
								</div>
							</li>
							{% endfor %}
						</ul>
				<!-- Dynamic Popular Post in Footer Section End -->
					</div>
			<!-- Popular Post in Footer Section(Dynamic) End  -->

					<div class="col-sm-6 col-lg-4 p-b-20">
						<div class="size-h-3 flex-s-c">
							<h5 class="f1-m-7 cl0">
								Category
							</h5>
						</div>

						<!-- For showing categories in footer start -->
						<ul class="m-t--12">
							{% for c in cat %}
							{% if c.count != 0 %} <!--if the category has news then show it otherwise it will not appear-->
							<li class="how-bor1 p-rl-5 p-tb-10">
								<a href="#" class="f1-s-5 cl11 hov-cl10 trans-03 p-tb-8">
									{{ c.name }} ({{ c.count }})
								</a>
							</li>
							{% endif %}
							{% endfor %}
						</ul>
						<!-- For showing categories in footer end -->

					</div>
				</div>
			</div>
		</div>

		<div class="bg11">
			<div class="container size-h-4 flex-c-c p-tb-15">
				<span class="f1-s-1 cl0 txt-center">
					Copyright © 2020 

					<a href="/" class="f1-s-1 cl10 hov-link1">
 All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="{{ site.link }}" target="_blank">My Team</a>

				</span>
			</div>
		</div>
	</footer>
<!-- Footer Section End -->

	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<span class="fas fa-angle-up"></span>
		</span>
	</div>

	<!-- Modal Video 01-->
	<div class="modal fade" id="modal-video-01" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document" data-dismiss="modal">
			<div class="close-mo-video-01 trans-0-4" data-dismiss="modal" aria-label="Close">&times;</div>

			<div class="wrap-video-mo-01">
				<div class="video-mo-01">
					
				</div>
			</div>
		</div>
	</div>

<!--===============================================================================================-->	
	<script src="{% static 'front/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'front/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'front/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'front/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'front/js/main.js' %}"></script>

</body>
</html>
