{% extends 'front/master.html' %}


{% load static %}


{% block headblock %}
<title>{{ site.name }} | News Detail</title>
{% endblock %}




{% block mainblock %}


{% for i in shownews %}
<!-- Breadcrumb -->
<div class="container">
    <div class="headline bg0 flex-wr-sb-c p-rl-20 p-tb-8">
        <div class="f2-s-1 p-r-30 m-tb-6">
            <a href="/" class="breadcrumb-item f1-s-3 cl9">
                Home 
            </a>

            <a href="/" class="breadcrumb-item f1-s-3 cl9">
                News 
            </a>

            <span class="breadcrumb-item f1-s-3 cl9">
                 {{ i.name }}
            </span>
        </div>

        <div class="pos-relative size-a-2 bo-1-rad-22 of-hidden bocl11 m-tb-6">
            <input class="f1-s-1 cl6 plh9 s-full p-l-25 p-r-45" type="text" name="search" placeholder="Search">
            <button class="flex-c-c size-a-1 ab-t-r fs-20 cl2 hov-cl10 trans-03">
                <i class="zmdi zmdi-search"></i>
            </button>
        </div>
    </div>
</div>

<!-- Content -->
<section class="bg0 p-b-140 p-t-10">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8 p-b-30">
                <div class="p-r-10 p-r-0-sr991">
                    <!-- Blog Detail -->
                    <div class="p-b-70">
                        <a href="#" class="f1-s-10 cl2 hov-cl10 trans-03 text-uppercase">
                            {{ i.catname }}
                        </a>

                        <h3 class="f1-l-3 cl2 p-b-16 p-t-33 respon2">
                            {{ i.name }}
                        </h3>
                        
                        <div class="flex-wr-s-s p-b-40">
                            <span class="f1-s-3 cl8 m-r-15">
                                <a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
                                    by {{ i.writer }}
                                </a>

                                <span class="m-rl-3">-</span>

                                <span>
                                    {{ i.date }}
                                </span>
                            </span>

                            <span class="f1-s-3 cl8 m-r-15">
                                {{ i.show }} views
                            </span>

                            <a href="#" class="f1-s-3 cl8 hov-cl10 trans-03 m-r-15">
                                0 Comment
                            </a>
                        </div>

                        <div class="wrap-pic-max-w p-b-30">
                            <img src="{{ i.picurl }}" alt="IMG">
                        </div>

                        <p align="justify" class="f1-s-11 cl6 p-b-25">
                            {{ i.body_txt|safe }} <!-- need to use safe when we use ckeditor -->
                        </p>



                    </div>

                    <!-- Leave a comment -->
                    <div>
                        <h4 class="f1-l-4 cl3 p-b-12">
                            Leave a Comment
                        </h4>

                        <p class="f1-s-13 cl8 p-b-40">
                            Your email address will not be published. Required fields are marked *
                        </p>

                        <form>
                            <textarea class="bo-1-rad-3 bocl13 size-a-15 f1-s-13 cl5 plh6 p-rl-18 p-tb-14 m-b-20" name="msg" placeholder="Comment..."></textarea>

                            <input class="bo-1-rad-3 bocl13 size-a-16 f1-s-13 cl5 plh6 p-rl-18 m-b-20" type="text" name="name" placeholder="Name*">

                            <input class="bo-1-rad-3 bocl13 size-a-16 f1-s-13 cl5 plh6 p-rl-18 m-b-20" type="text" name="email" placeholder="Email*">

                            <input class="bo-1-rad-3 bocl13 size-a-16 f1-s-13 cl5 plh6 p-rl-18 m-b-20" type="text" name="website" placeholder="Website">

                            <button class="size-a-17 bg2 borad-3 f1-s-12 cl0 hov-btn1 trans-03 p-rl-15 m-t-10">
                                Post Comment
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            
            <!-- Sidebar -->
            <div class="col-md-10 col-lg-4 p-b-30">
                <div class="p-l-10 p-rl-0-sr991 p-t-70">						
                    <!-- Category -->
                    <div class="p-b-60">
                        <div class="how2 how2-cl4 flex-s-c">
                            <h3 class="f1-m-2 cl3 tab01-title">
                                Category
                            </h3>
                        </div>

                        <ul class="p-t-35">

                            {% for p in cat %}
                            {% if p.count != 0 %}
                            <li class="how-bor3 p-rl-4">
                                <a href="#" class="dis-block f1-s-10 text-uppercase cl2 hov-cl10 trans-03 p-tb-13">
                                    {{ p.name }} ({{ p.count }})
                                </a>
                            </li>
                            {% endif %}
                            {% endfor %}


                        </ul>
                    </div>


            <!-- Popular Posts Details Start -->
                    <div class="p-b-30">
                        <div class="how2 how2-cl4 flex-s-c">
                            <h3 class="f1-m-2 cl3 tab01-title">
                                Popular Post
                            </h3>
                        </div>

                        <ul class="p-t-35">

                            {% for pop in popnews %}
                            {% if pop.ocatid == i.ocatid %}  <!-- Same category's news will be shown in popular news -->
                            <li class="flex-wr-sb-s p-b-30">
                                <a href="{% url 'news_detail' word=pop.name %}" class="size-w-10 wrap-pic-w hov1 trans-03">
                                    <img src="{{ pop.picurl }}" alt="IMG">
                                </a>

                                <div class="size-w-11">
                                    <h6 class="p-b-4">
                                        <a href="#" class="f1-s-5 cl3 hov-cl10 trans-03">
                                            {{ pop.name }}
                                        </a>
                                    </h6>

                                    <span class="cl8 txt-center p-b-24">
                                        <a href="{% url 'news_detail' word=pop.name %}" class="f1-s-6 cl8 hov-cl10 trans-03">
                                            {{ pop.catname }}
                                        </a>

                                        <span class="f1-s-3 m-rl-3">
                                            -
                                        </span>

                                        <span class="f1-s-3">
                                            {{ pop.date }}
                                        </span>
                                    </span>
                                </div>
                            </li>
                            {% endif %}
                            {% endfor %}

                            
                        </ul>
                    </div>

                    <!-- Tag -->
                    <div>
                        <div class="how2 how2-cl4 flex-s-c m-b-30">
                            <h3 class="f1-m-2 cl3 tab01-title">
                                Tags
                            </h3>
                        </div>

                    <!-- Dynamic Tags View in News Details Page Start -->
                        <div class="flex-wr-s-s m-rl--5">

                            {% for tagname in tag %}
                            <a href="#" class="flex-c-c size-h-2 bo-1-rad-20 bocl12 f1-s-1 cl8 hov-btn2 trans-03 p-rl-20 p-tb-5 m-all-5">
                                {{ tagname }}
                            </a>
                            {% endfor %}
                    
                        </div>	
                    <!-- Dynamic Tags View in News Details Page End -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endfor %}

{% endblock %}